html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
}
.wrapper {
    margin: 0 auto;
    width: 861px;
}

.textarea {
    width: 100%;
    height: 221px;
    font-size: 1.8rem;
    color: rgb(24, 59, 39);

}

.keyboard {
    width: 100%;
    height: 285px;
    background: rgb(92, 148, 115);
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(24, 59, 39);
    border-radius: 5px;
}

.keyboard__button {
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 10px;
    background-color: rgb(24, 59, 39);
    color: antiquewhite;
    font-size: 1.8rem;
}

.keyboard__button:hover {
    cursor: pointer;
    border-color: antiquewhite;
}

.keyboard__button_backspace,
.keyboard__button_capsLock,
.keyboard__button_shiftLeft {
   width: 126px;
}

.keyboard__button_space {
   width: 406px;
}

.keyboard__button_enter,
.keyboard__button_shiftRight{
    width: 104px;
}

.keyboard__button_tab {
    width: 70px;
}

.button_pushed {
    border-radius: 20px;
    background-color: rgb(161, 202, 175);
    transform: translate(1px, 1px);
    transition: all 0.1s ease 0s;
    color: rgb(24, 59, 39);
    font-weight: bold;
}